body {
    background-color: rgb(215, 172, 172);
}

#score {
    font-size: 25px;
    color: rgb(166, 39, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#timer {
    font-size: 25px;
    color: rgb(166, 39, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#draw {
    color: rgb(169, 24, 24);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#confidence {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(215, 140, 140);
}